.qrcode-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    
  }
  #head{
    color: red;
  }
  .qrcode-container h2 {
    color: #333;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .qrcode-output {
    margin-top: 20px;
  }
  
  .qrcode-output p {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  
  /* Style the QR Code */
  .qrcode-container svg {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }






  .container {
    text-align: center;
    background-image: linear-gradient(to right, rgb(172, 180, 254) , yellow);
    width: 100%;
    height: 100vh;
  }
  
  .input-field {
    display: inline;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(158, 231, 145);
  }
  
  .qr-code-container {
    margin-top: 20px;
  }
  
  